<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" routerLink="">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto d-flex gap-4">
          <a class="nav-link" routerLink="" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Главная</a>
          <a class="nav-link" routerLink="/catalog" routerLinkActive="active">Каталог</a>
        </div>
      </div>

      <form class="d-flex ms-auto" (ngSubmit)="onSearch()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Поиск"
          aria-label="Поиск"
          [(ngModel)]="searchQuery"
          name="search"
        />
        <button class="btn btn-outline-success me-2" type="submit">Найти</button>
        <button class="btn btn-outline-danger" type="button" (click)="resetSearch()">Сброс</button>
      </form>
    </div>
  </nav>
</header>
